.content{
    width: 300px;
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 10px;
    padding: 20px 50px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.container{
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    gap: 5px;
}
#button{
    background-color: orange;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
}
label{
    font-size: 18px;
    padding: 5px;
}
input{
    font-size: 14px;
    padding: 5px 10px;
}
h1{
    margin: 0;
    padding: 5px 10px;
}
#a1{
    margin: 10px;
}
#result,#type{
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 5px;
}

